.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

.featured-image {
    max-width: 90%;
    max-height: 700px;
    object-fit: cover;
    object-position: center;
}

* {
    box-sizing: border-box;
}

#foto-rizki {
    border-radius: 11%;
}

.waves-effect {
    display: flex;
}

.teal.lighten-1 {
    background-color: #2d6187 !important;
}